@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

/*［bodyの書式］文字色:濃いグレー、文字サイズ:16px、書体:游ゴシック体、背景色:ベージュ */
body {
  margin: 0;
  color: #484848;
  font-size: 20px;
  font-family: "Yu Gothic Medium", YuGothic, sans-serif;
  background-color: #ffffff !important;
  line-height: normal;
}

.en-text {
  /* font-family: "DM Serif Text", serif; */
  font-family: "Montserrat", "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
}

.b-en-text {
  color: #5bd9f5;
}

/*［リンク文字の書式］文字色：親と同じ、下線なし → body書式の下へ移動、WebDesignにリンクを設定 */
a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  background-color: #5bd9f5;
}

.navbar-brand {
  font-size: 1.3rem !important;
  font-weight: bold;
  color: white;
}

.navbar-brand:hover {
  color: #baeffa !important;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: white;
}

.nav-link:hover {
  color: #baeffa !important;
}

.nav-link.active {
  color: white !important;
}

.thin-container-s {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15%;
  padding-right: 15%;
}

footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #5bd9f5;
}

.right {
  text-align: right;
  color: white;
}

