.banner-text {
    font-size: 4rem;
    /* font-weight: bold; */
    color: white;
    background-color: #5bd9f5;
    padding-top: 50x;
    padding-bottom: 50px;
}

.btn.btn-outline-primary{
    color: #5bd9f5;
    border-color: #5bd9f5;
}

.btn.btn-outline-primary:hover{
    background-color: #5bd9f5;
    border-color: #5bd9f5;
}

.bottom {
    padding-bottom: 20px;
}